@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .skeleton-loading {
    background-color: rgba(0, 0, 0, 0.3);
    animation-name: skeleton;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
  @keyframes skeleton {
    0% {
      background-color: rgba(0, 0, 0, 0.3);
    }
    50% {
      background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  /* Loader */
  .loader-background {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .loader {
    --s: 20px;

    --_d: calc(0.353 * var(--s));
    width: calc(var(--s) + var(--_d));
    aspect-ratio: 1;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    clip-path: polygon(
      var(--_d) 0,
      100% 0,
      100% calc(100% - var(--_d)),
      calc(100% - var(--_d)) 100%,
      0 100%,
      0 var(--_d)
    );
    background: conic-gradient(
      from -90deg at calc(100% - var(--_d)) var(--_d),
      #fff 135deg,
      #666 0 270deg,
      #aaa 0
    );
    animation: l6 2s infinite;
  }
  .loader:after {
    animation-delay: -1s;
  }
  @keyframes l6 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(30px, 0);
    }
    50% {
      transform: translate(30px, 30px);
    }
    75% {
      transform: translate(0, 30px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

@layer components {
  .profile-select-button {
    @apply border-t-2 border-t-mainGreen text-mainGreen;
  }

  .profile-select-hover {
    @apply transition hover:text-mainGreen;
  }

  .disabled-button {
    @apply transition disabled:text-slate-400 disabled:bg-gray-200;
  }
}
